@model List<OpenForum.Models.Question>

@{
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<style>
    .que-box {
        height: 120px;
        padding: 5px 10px;
        border-bottom: 1px solid #dddddd;
    }
        .que-box:hover {
            background-color: #f1f7fd;
        }
    .que-box-left {
        height: 50px;
        width: 50px;
        /*background-color: #77aaee;*/
        color: #77aaee;
        border: 1px solid #77aaee;
        margin: 30px 20px;
        float: left;
    }
    .que-box-right {
        height: 100%;
        width: 1000px;
        float: left;
        /*background-color: #77aaee;*/
    }
    .que-draw {
        font-size: 18px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        margin-top: 30px;
    }
    .que-info {
        padding: 10px 0;
    }
    .que-info .div1 {
        height: 100%;
        width: 100px;
        font-size: 13px;
        text-align: center;
        margin-right: 70px;
        color: #444444;
        /*background-color: #77aaee;*/
        border: 1px solid #77aaee;
        border-radius: 3px;
        float: right;
    }
    .que-info .div1 a {
        text-decoration: none;
    }
    .que-info .div2 span {
        font-size: 13px;
        border-radius: 2px;
        color: #444444;
        background-color: #eaedf6
    }
</style>



<!--导航元素-->
<ul id="myTab" class="nav nav-tabs">
    <li class="active"><a href="#new">最新问答</a></li>
    @*<li><a href="#hot" data-toggle="tab">热门问答</a></li>*@
    <li><a href="#wait">等待回答</a></li>
</ul>

<!--导航内容-->
<div id="myTabContent" class="tab-content"  @*style="margin-top: 20px;"*@>

    <!-- ++++++++++++++++++++++++++++++++++++最新问答-->
    <div id="new" class="tab-pane fade in active"><!--第一个标签加上.in类-->
    @{
        int len = Model.Count;
        for (int i = len - 1; i >= 0; i--) {
            OpenForum.Models.Question v = Model[i];
            string s = v.aID;
            int ans_tol = 0;
            if (s != null && s.Length > 0) {
                string[] sp = s.Split('+');
                ans_tol = sp.Length - 1;
            }
            <!--++++++++每条帖子的显示设置-->
            <div class="row que-box">
                <div class="que-box-left text-center">
                    @ans_tol <br />回答
                </div>
                <div class="que-box-right">
                    <div class="que-draw">问题：@v.content</div>
                    <div class="que-info">
                        <div class="div1">
                            @Html.ActionLink("点击查看", "QuePage", "Home", new {
                           id = @v.id
                       }, new {
                           @class = "a"
                       }) &rarr;
                        </div>
                        <div class="div2">
                            <span> @v.master </span>&nbsp;于&nbsp;
                            <span> @v.time </span>&nbsp;提问
                            <span style="margin-left: 30px"> @v.kind </span>
                        </div>
                    </div>
                </div>
            </div>
            }
        }
    </div>


    <!-- ++++++++++++++++++++++++++++++++++++等待回答-->
    <div id="wait" class="tab-pane fade">
       @{
           int len2 = Model.Count;
           for (int i = len2 - 1; i >= 0; i--) {
               OpenForum.Models.Question v = Model[i];
               string s = v.aID;
               int ans_tol = 0;
               if (s != null && s.Length > 0) {
                   string[] sp = s.Split('+');
                   ans_tol = sp.Length - 1;
               }
               if (ans_tol > 0) {
                   continue;// 因为这是"等待回答"模块——答案数必须为0
               }
            <!--++++++++每条帖子的显示设置-->
            <div class="row que-box">
                <div class="que-box-left text-center">
                    @ans_tol <br />回答
                </div>
                <div class="que-box-right">
                    <div class="que-draw">问题：@v.content</div>
                    <div class="que-info">
                        <div class="div1">
                            @Html.ActionLink("点击查看", "QuePage", "Home", new {
                           id = @v.id
                       }, new {
                           @class = "a"
                       }) &rarr;
                        </div>
                        <div class="div2">
                            <span> @v.master </span>&nbsp;于&nbsp;
                            <span> @v.time </span>&nbsp;提问
                            <span  style="margin-left: 30px"> @v.kind </span>
                        </div>
                    </div>
                </div>
            </div>
           }
    }
    </div>
</div>
<script>
    $(function () {
        $('#myTab a').click(function (e) {
            e.preventDefault();
            $(this).tab('show');
        })
    });
</script>




<!--++++++----------------++++++++++++++折叠面板-->
    @if (Session["userID"] != null) {
<div class="panel panel-primary" style="margin-top: 80px;">
    <div class="panel-heading">
        <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion"
               href="#collapse1" style="text-decoration: none; width: 100%;">
                我要提问
            </a>
        </h4>
    </div>
    <div id="collapse1" class="panel-collapse collapse">
        <div class="panel-body">
            <!-- ++++++++++++++++++++++++++++++++++++++++ 提问表单-->
            <form method="post" action="@Url.Action("Ask", "Home")" class="form-horizontal" role="form" style="margin-left: 25%;">
                <div class="form-group">
                    <label for="lastname" class="col-lg-2 control-label">问题种类</label>
                    <div class="col-lg-10">
                        <select class="combobox form-control" name="kind">
                            <option value="C/C++">C/C++</option>
                            <option value="Java">Java</option>
                            <option value="C#">C#</option>
                            <option value="HTML">HTML</option>
                            <option value="CSS">CSS</option>
                            <option value="JavaScript">JavaScript</option>
                            <option value="Vim">Vim</option>
                            <option value="Git">Git</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="firstname" class="col-lg-2 control-label">问题描述</label>
                    <div class="col-lg-10">
                        <textarea class="form-control" name="content" rows="3"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-offset-2 col-lg-10">
                        <button type="submit" class="btn btn-default">提交</button>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>
    }